
<div id="menu_screen" class="initial_state">
    <div id="screen_to_onclick_event" 
    onclick=
    "initial_state('menu_screen');
    initial_state('menu')"></div>


    <div id="menu" class="initial_state">
        <img src="/imgs/close_btn.svg" id="menu_close_btn"
        onclick=
        "initial_state('menu_screen');
        initial_state('menu')">
        <div id="menu_items">
            <a href="">Visit my Website</a>
            <a href="https://github.com/VitorFigm" target="_blank" rel="noopener noreferrer">Visit my github</a>
            <a href="">Contact me</a>
        </div>
    </div>
</div>