
<script>
    function error_msg_close(){
        get_el('error_msg_box').style.display = "none"
    }
</script>


<div id="menu_filter_screen" class="initial_state">
    <div id="menu_filter_onclick" 
    onclick="
    initial_state('menu_filter_screen')
    initial_state('menu_filter')
    "
    ></div>

    <img src="/imgs/close_btn.svg" class="filter_close_btn"
    onclick="
    initial_state('menu_filter_screen')
    initial_state('menu_filter')
    ">

    <form action="/filter" id="menu_filter" class="initial_state" onclick="error_msg_close()">
        
    
        <label for="filter_for"> Filter for: </label>
    
            <select name="filter_for" class="menu_filter_spaces">

                <option value="better ratings" selected="selected"> 
                    Better ratings 
                </option>
    
                <option value="lower price">
                    Lower price 
                </option>
    
                <option value="higher price">
                    Higher price 
                </option>
               
            </select>
            
        <label for="brand"> Brand: </label>
    
            <select name="brand" class="menu_filter_spaces">
                <option value="all" selected="selected">All</option>
                {{#each brand_list}}
                <option value="{{brand}}">{{this}}</option>
                {{/each}}
            </select>
    
        <label for="minimum_price">Price min</label>
            <input type="number" name="minimum_price" class="menu_filter_spaces">
        
        <label for="maximum_price">Price max</label>
            <input type="number" name="maximum_price" class="menu_filter_spaces">  
    
            <!---Hidden data-->
        <input type="hidden" name="query" value="{{query}}">
        <input type="hidden" name="query_only" value="">
        <!-------------->
    
        <input type="submit" value="Filter" id="submit_btn">
    
    
        <div id="error_msg_box"> 
            <div id="error_msg"></div> 
            <img src="/imgs/close_btn.svg" class="filter_close_btn">
        </div>
    </form>
</div>

<!----Form Validation---->
<script>

        get_el('menu_filter').addEventListener('submit',function(e){
            const h_price = this.elements['maximum_price'].value
            const l_price = this.elements['minimum_price'].value
            if(l_price>h_price){
                e.preventDefault()
                get_el('error_msg').innerHTML="Price min needs to be lower than Price max"
                get_el('error_msg_box').style.display = 'flex'
            }
        })
        
        

 </script>